<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @round.game %>
</p>

<p>
  <strong>S1:</strong>
  <%= @round.s1 %>
</p>

<p>
  <strong>S2:</strong>
  <%= @round.s2 %>
</p>

<p>
  <strong>S3:</strong>
  <%= @round.s3 %>
</p>

<p>
  <strong>S4:</strong>
  <%= @round.s4 %>
</p>

<p>
  <strong>Roundtype:</strong>
  <%= @round.roundtype %>
</p>

<%= link_to 'Edit', edit_round_path(@round) %> |
<%= link_to 'Back', rounds_path %>
