<p id="notice"><%= notice %></p>

<p>
  <strong>P1:</strong>
  <%= @game.p1 %>
</p>

<p>
  <strong>P2:</strong>
  <%= @game.p2 %>
</p>

<p>
  <strong>P3:</strong>
  <%= @game.p3 %>
</p>

<p>
  <strong>P4:</strong>
  <%= @game.p4 %>
</p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
